<app-header></app-header>

<div class="flex">
  <div>
    <p class="title">Math</p>
    <form [formGroup]="mathForm" novalidate (ngSubmit)="getMath()">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Math</mat-label>
        <input type="text" matInput formControlName="math" placeholder="enter a number">
      </mat-form-field>
  
      <button mat-icon-button color="primary" [disabled]="mathForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <mat-card 
      class="card" 
      *ngFor="let randomMath of randomListMath" 
      (click)="showMathFact(randomMath)"
    >
      <mat-card-content>
        <p class="card-content">{{randomMath}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div>
    <p class="title">Number</p>
    <form [formGroup]="numberForm" novalidate (ngSubmit)="getNumber()">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Number</mat-label>
        <input type="text" matInput formControlName="number" placeholder="enter a number">
      </mat-form-field>
    
      <button mat-icon-button color="primary" [disabled]="numberForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <mat-card 
      class="card" 
      *ngFor="let randomNumber of randomListNumber" 
      (click)="showNumberFact(randomNumber)"
    >
      <mat-card-content>
        <p class="card-content">{{randomNumber}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div>
    <p class="title">Date</p>
    <form [formGroup]="dateForm" novalidate (ngSubmit)="getDate()">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
      <button mat-icon-button color="primary" [disabled]="dateForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <mat-card 
      class="card" 
      *ngFor="let randomDate of randomListDate" 
      (click)="showDateFact(randomDate[0], randomDate[1])"
    >
      <mat-card-content>
        <p class="card-content">{{randomDate[0]}}/{{randomDate[1]}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
